@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 2px solid magenta ; */
}
:root {
  background-color: rgb(30, 24, 70);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input:focus {
  outline: 2px solid gray; /* Removes the focus outline */
  border: none; /* Removes the border */
}

input{
    transition: outline 0.08s ease;
}